.main_formik {
  max-width: 100%;
  height: auto;
  margin: auto;
  background-color: #fff;
}

.copy-right {
  width: 100%;
  margin-top: 160px;
  background-color: #f9f9f9ad;
  color: #afaaaa;
  text-align: center;
  font-size: 12px;
}
